body {
    background-color: rgba(252, 250, 125, 0.5);
}

.mainname {
    color: red;
    text-align: center;
}

h3 {
    text-transform: uppercase;
}

h1{
    color: red;
    text-align: center;
}

.italic {
    font-style: italic;
}

.wrapper {
    width: 1000px;
    height: 1000px;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid brown;
}

.line-through {
    text-decoration: line-through;
}

.bold {
    font-weight: 700;
}

.color {
    color:crimson;
}