body {
    background-color:rgba(17, 246, 5, 0.471);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.border {
    border:rgba(16, 16, 2, 0.997) dotted 2px;
    margin-top: 10px;
    padding: 10px;
}

h3 {
    color:rgb(6, 6, 247);
    margin-bottom: 15px;
}

.container {
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.decision {
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 180px;
}

.decision h4{
    margin: 10px 0;
}

.decision button, .resTask5 {
    background-color:rgba(13, 176, 5, 0.848);
    border: solid 1px green;
    margin: 15px auto;
    font-size: 15px;
    min-width: 90px;
    height: 25px;
}

.decision .data {
    display: flex;
    justify-content: space-between;    
}

.decision .data input {
    width: 40px;
}

.task5 .data, .task6 .data{
    display: flex;
    margin: 10px 0;
}

.task5 .data_div, .task6 .data_div {
    margin-right: 20px;
}

.task5 input, .task6 input {
    width: 30px;
}

.task10 .words, .task10 .simbol, .task10 .simbolSpaces, .task10 .percent {
    display: flex;
    justify-content: start;
}

.task10 input {
    margin-right: 5px;
}

.task11 p {
    text-indent: 22px;
}

.task11 .wrapper {
    width: 300px;
}

.task11 .name {
    background: transparent;
    border: solid 1px rgb(6, 6, 247);
    padding: 0 5px;
    outline: none;
}

.task11 .name::placeholder {
    color:black;
}

.task11 .number {
    background: transparent;
    margin: 15px 0;
    border: solid 1px rgb(6, 6, 247);
    outline: none;
    text-align: center;
}

.task11 .lose {
    border: solid 1px red;
}

.task11 .win {
    border: solid 2px rgb(3, 166, 3);
}

.task12 td, .task13 td {
    width: 20px;
    border: solid 1px black;
}

.task12 tr {
    height: 20px;
}

.task12 .time {
    margin: 10px 20px;
}

.task13 td {
    width: 35px;
    border: solid 1px black;
    background-color:rgb(246, 246, 55);
    text-align: center;
}

.task13 tr {
    height: 35px;
}

.task13 input {
    width: 555px;
    height: 35px;
    border: none;
    outline: none;
    background-color:rgba(246, 246, 55, 0.793);
    margin-bottom: 10px;
    padding: 5px 10px;
    text-align: center;
}

.task14 .choice {
    width: 210px;
    display: flex;
    justify-content: space-between;
    background-color:rgb(84, 137, 235);
}

.task14 a {
    text-decoration: none;
    color:brown;
    font-size: 15px;
    font-weight: 700;
}

.task14 ul {
    margin-top: 5px;
    width: 210px;
    display: flex;
    flex-wrap: wrap;
}

.task14 .day_week {
    background-color:rgb(145, 176, 235);
}

.task14 li {
    width: 30px;
    list-style-type: none;
    text-align: center;
}

.task15 .wrapper_search {
    display: flex;
    width: 420px;
    align-items:center;
    background-color:rgb(145, 176, 235);
    
}

.task15 .menu {
    display: flex;
    width: 105px;
    padding: 10px 10px;
    flex-direction: column;
    
}

.task15 .menu div {
    display: inline;
    padding-left: 4px;
}

.task15 .menu select {
    border: none;
    outline: none;
    background: none;
}

.task15 ul {
    margin-top: 20px;
    width: 770px;
    min-height: 100px;
}

.task15 li {
    display: none;
}

.task15 .header {
    padding: 5px 0;
    margin-bottom: 10px;
    font-weight: 700;
    border: 1px solid yellow;
}

.task15 .activ {
    display: grid;
    grid-template-columns: 21% 17% 50% 12%;
    padding-left: 5px;
}


.task15 input, .task16 input, .task17 input {
    width: 300px;
    height: 40px;
    padding: 5px 15px;
    border: none;
    outline: none;
    background-color:rgb(145, 176, 235);
}

.task16 .wrapper_search {
    width: 600px;
}

.task16 table {
    margin-top: 10px;
}

.task16 td {
	padding: 10px;
	text-align: center;
	border: 1px solid black;
}


