
.container_book {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper_book ul span{
    font-weight: 700;
    font-size: 20px;
}

.wrapper_book a {
    text-decoration: none;
    color:black;
}

.wrapper_book a :hover {
    color:brown;
}

.border {
    border:rgba(249, 88, 19, 0.795) dotted 2px;
    margin-top: 10px;
    padding: 10px;
}

.mainname {
    color: red;
    text-align: center;
}

h1{
    color: red;
    text-align: center;
}

.italic {
    font-style: italic;
}

.wrapper {
    width: 1000px;
    height: 1000px;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid brown;
}

.line-through {
    text-decoration: line-through;
}

.bold {
    font-weight: 700;
}

.color {
    color:crimson;
}

.surname {
    color:rgb(143, 141, 141);
}

.task113 a {
    display: block;
    text-decoration: none;
}

.task114 a {
    display: block;
    text-decoration: none;
}

.nowDay {
    display: inline-block;
}

.task119 .container {
    padding: 5px;
}
.task119 button {
    margin-top: 10px;
}

.task123 .deg {
    display: inline;
}
.task123 .container {
    margin: 5px 15px;
    display: inline;
}

.task134 td, .task135 td, .task136 td {
    width: 50px;
	height: 50px;
	border: 1px solid black;
    background-color: rgba(252, 250, 125, 0.611);
}

.task10_3 ul {
	padding: 30px;
	border: 1px solid red;
}

.task10_3 li {
	list-style-type: none;
	margin-bottom: 20px;
	border: 1px dashed black;
}

.task10_8 a {
    text-decoration: none;
    color:black;
}

.task10_9 a {
    text-decoration: none;
    color:black;
}

.task10_10 form {
    width: 150px;
    height: 150px;
    border: solid 1px black;
    text-align: center;
    position: relative;
}
.task10_10 div {
    width: 100px;
    height: 100px;
    border: solid 1px black;
    position: absolute;
    top: 25px;
    left: 25px;
}
.task10_10 p {
    position: absolute;
    width: 50px;
    height: 50px;
    border: solid 1px black;
    top: 25px;
    left: 25px;
    margin: 0;
    line-height: 50px;
}

.task10_11 div {
	border: 1px solid red;
    padding: 20px;
    width: 400px;
}

.task10_11 ul {
	border: 1px solid orange;
    padding: 20px;
    width: 350px;
}

.task10_11 li {
	border: 1px solid green;
    padding: 20px;
    width: 300px;
    height: 10px;
}

.task10_12 #block:not(.active) {
	display: none;
}

.task10_12 #block{
    width: 150px;
    margin-top: 10px;
}

.task10_12 div {
	border: 1px solid red;
    padding: 10px;
    width: 170px;
}

.task12_10 div {
    color: green;
}

.task13_4 .wrapper{
    display: flex;
    height: 135px;
    flex-direction: column;
}

.task13_4 input {
    width: 200px;
    margin-top: 5px;
}

.task13_7 input{
    color:rgb(143, 141, 141);
}

.task13_12 #elem {
    padding-left: 10px;
}

.task13_13 #elem {
    padding-left: 10px;
}

.task13_14 #elem {
    padding-left: 10px;
}

.task13_15 .wrapper{
    display: flex;
    max-height: 100px;
    flex-direction: column;
}

.task13_15 input {
    width: 200px;
    margin-top: 5px;
}

.task14_2 input{
    color:rgb(143, 141, 141);
}

.task14_2 ol {
    list-style-type: none; /* Убираем исходные маркеры */
    counter-reset: item;   /* Убираем исходные маркеры */
}

.task14_2 li {
    display: flex;
    width: 250px;
}

.task14_2 li::before {
    content:counter(item) '. '; /* Добавляем к числам точку*/
    counter-increment: item;    /* Задаём имя счетчика */
}

.task14_2 li div {
    width: 240px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;

}

.task14_2 li div input {
    width: 18px;
    height: 13px;
    margin-left: 10px;
    color: black;
}

.task14_3 .width {
    margin-top: 10px;
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.task14_3 .height {
    margin-top: 10px;
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.task14_3 button {
    margin: 10px 0;
}

.task14_4 tr {
    height: 20px;
}

.task14_4 td {
    border: solid 1px rgb(4, 17, 254);
    width: 20px;
}

.task14_5 tr, .task14_6 tr {
    height: 25px;
}

.task14_5 td {
    border: solid 1px rgb(254, 142, 4);
    width: 25px;
}

.task14_6 td, .task14_27 td {
    border: solid 1px rgb(254, 4, 241);
    width: 100px;
}

.task14_8 td, .task14_12 td, .task14_18 td,  .task14_24 td, .task14_25 td {
	width: 20px;
	height: 20px;
	border: 1px solid black;
}

.task14_11 a, .task14_12 a, .task14_15 a, .task14_16 a, .task14_17 a, .task14_18 a {
    text-decoration: none;
    font-weight: 500;
    color: brown;
    margin-left: 15px;
}

.task14_15 input, .task14_27 input {
    color: rgb(143, 141, 141);
}

.task14_17 .line, .task14_26 .line {
    text-decoration: line-through;
}

.task14_18 .color {
    background-color: rgba(4, 168, 4, 0.415);
}

.task14_19 .hidden, .task14_20 .hidden, .task14_21 .hidden, .task14_22 .hidden{
    display: none;
}

.task14_20 p, .task14_21 p, .task14_22 p {
    display: inline-block;
    width: 150px;
}

.task14_20 .wrapper, .task14_21 .wrapper, .task14_22 .wrapper {
    height: 40px;
}

.task14_23 .active {
	background: rgba(255, 0, 0, 0.586);
}

.task14_24 .color1, .task14_25 .color1 {
	background: rgba(255, 0, 0, 0.538);
}

.task14_24 .color2, .task14_25 .color2 {
	background: rgba(0, 128, 0, 0.484);
}

.task14_25 .color3 {
	background: rgba(4, 84, 243, 0.484);
}

.task14_26 .link {
    margin: 5px 5px 5px 10px;
}

.task14_27 table {
    margin: 15px;
}

.task14_27 .firstTD {
    background-color: rgba(245, 31, 234, 0.697);
    color:azure;
}
